
Django==3.2.0
django-mssql-backend==2.8.1
mssql-django==1.2
pandas==1.5.2
plotly==5.11.0
python-dateutil==2.8.2
python-decouple==3.6
python-memcached==1.59
python-dotenv==0.21.0
dj-database-url==1.2.0
gunicorn==20.1.0
psycopg2-binary==2.9.5
Brotli==1.0.9
whitenoise==6.3.0
