/* Scrolling */
div.checklist{
    height:200px; width:100%;
    overflow:hidden; 
    overflow-y:scroll;
  }
modal-body{
    padding: 10px;
  }
/* SPINNER */
#bg-spinner{
    top:0%;
    z-index:100;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0) ;

}
#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}
#spinner{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid white;
    border-top: solid #C92228;
    animation: loading 1s infinite linear;
}

@keyframes loading{
    to{
        transform: rotate(360deg);
    }
}
